.summary-list-item-main-content {
    margin-left: 16px;
}

.driver-icon {
    padding-top: 10px;
    padding-right: 10px;
}

.pni-holder {
    text-decoration: none;
    cursor: inherit;
    font-size: 0.7575rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 16px;
}

.image-group {
    margin-right: 8px;
}
