<button mat-icon-button color="primary" class="close-btn" tabindex="-1" (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
</button>
<img src="./assets/img/Confused_Icon.svg" alt="Confused icon">
<h1 class="title-txt">Nothing Found</h1>
<p class="subtitle2-txt mrbt24">We couldn't find anything with the info you provided</p>
<p class="verti-quotes-are-good-txt mrbt32">Verti quotes are good for 60-days. If your quote is more than 2-months old
    you'll need to start over. Sorry.</p>
<button mat-raised-button color="primary" class="verti-next-btn mrbt24" (click)="onTryAgainClick()">Try Again</button>
<button mat-stroked-button color="primary" class="verti-next-btn start-new-quote-btn" (click)="onStartNewQuoteClick()">Start a New Quote</button>