<!-- <verti-back-button></verti-back-button> -->
<div class="main-content ko-question-page">
  <div class="inner-content">
    <verti-page-image-title [imgsource]="imgSource" imgwidth="80px" [title]="koTitle"></verti-page-image-title>
    <form [formGroup]="koQuestionOne" fxLayout="column">

      <verti-ko-questions-lists [koListData]="koList"></verti-ko-questions-lists>

      <mat-button-toggle-group class="verti-button-toggle-group standard-two-choice mrtp40" color="primary"
        formControlName="ineligibleVehicle" aria-label="Font Style">
        <mat-button-toggle value="true" (change)="koQuestion()">Yes</mat-button-toggle>
        <mat-button-toggle value="false" (change)="koQuestion()">No</mat-button-toggle>
      </mat-button-toggle-group>

    </form>

  </div>
</div>