.sub-text {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14.2px;
    letter-spacing: 0.65px;
    line-height: 20px;
    text-align: center;
}

.card-sub-title {
    font-weight: 400;
    // margin: 2% 5% 8%;
    // color: #006580;
    font-size: 18.2px;
    letter-spacing: 0.32px;
    line-height: 24px;
    text-align: center;
}

.back-to-home {
    // color: #749806;
    font-size: 16.19px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
    padding-top: 24px;
    align-self: center;
}

.m-top-0 {
    margin-top: 0px;
}
