<div class="main-content payment-success">
  <div class="inner-content">
    <verti-page-image-title [imgsource]="imgSource" imgwidth="86px" [title]="title"></verti-page-image-title>
    <div fxLayout="column">
      <div class="card-para">
        <div>
          Your payment was successful.
          Continue to make your Verti account.
        </div>
        <button mat-raised-button class="verti-next-btn mrtp40" color="primary" (click)="goToSidekick()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>