<div class="card-container">
    <!-- <div class="fixed-content">
        <mat-icon color="primary" (click)="close()">close</mat-icon>
    </div> -->
    <div class="coverage-img">
        <img [src]="imgSource" alt="" width="80px" />
    </div>
    <mat-card-title class="card-title"> We've found a great opportunity for you! </mat-card-title>
    <mat-card-subtitle class="card-text text-center">
        Give us a moment while we redirect you to this special opportunity.
    </mat-card-subtitle>
</div>
