.evo_payment_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // .evo_title{

    // }
    .card-title {
        margin: 0;
    }
    .evo_fluid_container {
        background: #fff;
        width: 100%;
        max-width: 736px;
        min-height: 200px;
        margin: 24px auto 0;
        @media screen and (max-width: 375px) {
            max-width: 304px;
        }
        @media screen and (min-width: 376px) and (max-width: 767px) {
            max-width: 360px;
        }
    }
}
