@import '~@angular/material/theming';

$vt-vertigreen: (
    50: #eef3e1,
    100: #d5e0b4,
    200: #bacc83,
    300: #9eb751,
    400: #89a72b,
    500: #749806,
    600: #6c9005,
    700: #618504,
    800: #577b03,
    900: #446a02,
    A100: #d4ff99,
    A200: #beff66,
    A400: #a9ff33,
    A700: #9eff1a,
    contrast: (
        50: #ffffff,
        100: #ffffff,
        200: #ffffff,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);
