<div class="main-content">
    <div class="inner-content" fxLayout="column">
        <verti-page-image-title imgsource="assets/img/Icon_Phone.svg" imgwidth="80px" imgheight="80px" title="We need your phone number as part of your contact info."></verti-page-image-title>

        <form (submit)="onSubmit()" fxLayout="column">
            <mat-form-field class="phone-form-field" [class.invalid-error-txt]="shouldShowPhoneError()" appearance="outline">
                <mat-label>Phone number</mat-label>
                <span matPrefix class="input-prefix" [class.show-phone-prefix]="showPhonePrefix"
                    [class.hide-phone-prefix]="!showPhonePrefix">+1 &nbsp;</span>
                <input type="tel" matInput vertiInputMask [formatter]="phoneFormatter" placeholder="e.g. 555-123-4567"
                    [formControl]="phoneControl" (focus)="onPhoneFocus()" (blur)="onPhoneBlur()">
                <mat-error *ngIf="shouldShowPhoneError()">
                    It doesn't look like that is a valid phone number, want to try again?
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!phoneControl.valid" class="verti-next-btn mrtp40 after-text-input">NEXT</button>
        </form>

        <!-- <p class="terms-and-conditions-text">
            By clicking ‘NEXT’, I consent to be contacted by Verti Insurance Company for insurance product
            advertisement, telemarketing and service purposes at the phone number and email address I have provided
            on this form. I agree that such contact may include: calls and text messages placed using an automated
            telephone dialing system; calls using artificial or pre-recorded voice; and/or email. I recognize that
            call, text, and data rates may apply depending on my carrier and plan. I understand that this consent
            is not a condition of purchase and that I can call Verti Insurance Company to discuss my insurance
            needs at <a href="tel:844-558-3784">844-558-3784</a>.
        </p> -->
    </div>
</div>