<mat-form-field appearance="outline">
    <mat-label>{{ labelConfig.addressLine1 }}</mat-label>
    <input matInput placeholder="{{ placeholderConfig.addressLine1 }}" [formControl]="addressLine1Control" maxlength="250" [readonly]="readonly">
    <mat-hint class="mat-error" *ngIf="addressLine1Control.hasError('poBox')">
        PO Box can't be used to get a quote.
    </mat-hint>

    <!-- TODO figure out when this should show -->
    <mat-hint class="mat-error" *ngIf="false">
        Looks like part of your street address is missing, want to try again?
    </mat-hint>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>{{ labelConfig.addressLine2 }}</mat-label>
    <input matInput placeholder="{{ placeholderConfig.addressLine2 }}" [formControl]="addressLine2Control" maxlength="250" [readonly]="readonly">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>{{ labelConfig.postalCode }}</mat-label>
    <input matInput type="tel" placeholder="{{ placeholderConfig.postalCode }}" maxlength="5" [formControl]="postalCodeControl" [readonly]="readonly">
    <mat-hint *ngIf="form.valid && possibleZipLocations.length === 1">
        {{ cityControl.value + ', ' + stateControl.value }}
    </mat-hint>
</mat-form-field>

<ng-container *ngIf="possibleZipLocations.length > 1">
    <mat-form-field appearance="outline">
        <mat-label>{{ labelConfig.city }}</mat-label>
        <mat-select #city placeholder="{{ placeholderConfig.city }}" [formControl]="cityControl">
            <mat-option *ngFor="let city of possibleCities" [value]="city">
                {{ city }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{ labelConfig.state }}</mat-label>
        <mat-select placeholder="{{ placeholderConfig.state }}" [formControl]="stateControl">
            <mat-option *ngFor="let state of possibleStates;" [value]="state">
                {{ state }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
