<div class="main-content rc-decline minor-violation">
  <div class="inner-content">
    <verti-page-image-title [imgsource]="imgSource" imgwidth="80px" [title]="title"></verti-page-image-title>
    <div fxLayout="column">
      <!-- <mat-card-subtitle class="rc-decline-subtitle">{{subtitle}} </mat-card-subtitle> -->
      <div class="card-para">
        <div>
          {{para1}}
        </div>
        <p>{{para2}}</p>
        <button mat-stroked-button class="contact-an-agent-btn verti-btn mrtp24" (click)="openDialog()" color="primary">CONTACT AN AGENT</button>
      </div>
    </div>
  </div>
</div>