.rc-decline {
    .card-para {
        color: rgba(0, 0, 0, 0.6);
        font-size: 18.2px;
        letter-spacing: 0.32px;
        line-height: 24px;
        text-align: center;
        margin-top: 36px;
        font-weight: 450;
        p {
            color: rgba(0, 0, 0, 0.6);
            font-size: 14.2px;
            letter-spacing: 0.25px;
            line-height: 20px;
            text-align: center;
            margin-top: 24px;
        }
    }
    .rc-decline-subtitle {
        color: #8b1863;
        font-size: 0.7575em;
        letter-spacing: 0.5px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        margin: 8px 0 0;
        font-weight: 400;
    }
}
.contact-an-agent-btn {
    margin-top: 32px;
    max-width: 243px;
    width: 100%;

    @media screen and (max-width: 375px) {
        max-width: 193px;
    }
}
