<!-- <verti-back-button></verti-back-button> -->
<div class="main-content">
    <div class="inner-content">
        <verti-page-image-title [imgsource]="imgSource" imgwidth="80px" [title]="contactitle"></verti-page-image-title>
        <mat-card-subtitle class="text-center contactpaheading">YOU HAVE BEEN DECLINED.</mat-card-subtitle>

        <h3 class="contactpatext">Based on the current violation activity we can't offer you a policy at this time.You'll receive a mail shortly providing
            more details about why you were declined the coverage.
        </h3>
        <h3 class="contactpatext">
            <a href="#">Contact us</a> if there is more to this story & may be we can still make things work.</h3>
    </div>
</div>