.contactpatext {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14.2px;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-align: center;
}

.contactpaheading {
    font-size: 17.12px;
    letter-spacing: 2px;
    color: #8b1863;
    text-align: center;
    padding-top: -10px;
    margin-top: -2px;
}
