$inner-padding: 16px;

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: $inner-padding;
}

img {
    margin: 24px - $inner-padding auto 12px;
    width: 66.67px;
    height: 76.73px;
    // TODO get fill color
    // fill: purple
}

.title-txt {
    margin: 0 0 16px;
    color: #8b1863;
    font-size: 24px;
    letter-spacing: 0.16px;
    line-height: 32px;
    text-align: center;
    font-weight: normal;
}

p {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12.12px;
    letter-spacing: 2px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.btm-btn {
    margin-bottom: 40px - $inner-padding;
}
