:host {
    display: inline-block;
    position: relative;
    height: 120px;
    width: 210px;
    border-radius: 10px;
    background: linear-gradient(165.5deg, #d9269b 0%, #8b1863 100%);
    box-shadow: 1px 2px 7px 0 rgba(0, 0, 0, 0.17), 0 2px 4px 0 rgba(113, 113, 113, 0.5),
        0 0 2px 0 rgba(158, 158, 158, 0.5);
}

img {
    position: absolute;
    left: 12px;
}

.card-name,
.card-number {
    display: block;
    color: #ffffff;
    padding-left: 24px;

    // font-family: 'Andale Mono';
    font-size: 14px;
    letter-spacing: 0.09px;
    line-height: 16px;
}

.card-name {
    padding-top: 64px;
}

.card-number {
    padding-top: 8px;
}
