.summary-list-item-main-content {
    margin-left: 8px;
    overflow: hidden;
}

.image-group,
.summary-list-item-end-content {
    margin-right: 8px;
}

.vehicle-icon {
    margin-top: 22px;
    margin-bottom: 12px;
}

@media all and (min-width: 376px) {
    .summary-list-item-main-content {
        margin-left: 16px;
    }

    .image-group,
    .summary-list-item-end-content {
        margin-right: 16px;
    }
}
