:host {
    max-width: 360px;
    width: 100%;
    .previous_injury_container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        @media screen and (max-width: 375px) {
            max-width: 300px;
        }
        .fixed-content {
            display: inline-flex;
            justify-content: flex-end;
            cursor: pointer;
        }
        .imgSource {
            width: 60px;
            height: 60px;
            margin: 0 auto 20px;
        }
        .title-txt {
            margin: 0;
            margin-bottom: 16px;
            color: #8b1863;
            font-size: 24px;
            letter-spacing: 0.16px;
            line-height: 32px;
            text-align: center;
            font-weight: normal;
        }
        p {
            // color: rgba(0, 0, 0, 0.6);
            color: rgba(0, 0, 0, 0.8);
            font-size: 14.2px;
            letter-spacing: 0.25px;
            line-height: 20px;
            text-align: center;
        }
    }
}

