<section class="existing-damage-container">
  <div class="fixed-content">
    <!-- <div class="right-close"> -->
    <mat-icon color="primary" (click)="close()">close</mat-icon>
    <!-- </div> -->
  </div>
  <!-- <verti-page-image-title [imgsource]="imgSource" imgwidth="20px" imgheight="54px" [title]="title"></verti-page-image-title> -->
  <img class="imgSource" src="./assets/img/existing_damage.svg" alt="Phone icon">
  <h1 class="title-txt">What is ‘existing damage’?</h1>
  <div class="container card-container">
    <h3 class="common-examples">Common examples of existing damage are:</h3>
    <ul>
      <li>Damage as a result of flood or fire</li>
      <li>Damage preventing doors, hood, or trunk from opening or closing properly</li>
      <li>Damage to the frame</li>
      <li>Other damage that makes your car unsafe to drive</li>
    </ul>
  </div>
  <!-- <div class="close-btn"> -->
  <!-- <button mat-raised-button class="primary-button" (click)="close()">CLOSE</button> -->
  <!-- </div> -->
</section>