.short-content {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14.2px;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
}
.suggestion-content {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12.12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 16px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}
.save-for-later-btn {
    min-width: 280px;
}

.summary-list-item-main-content {
    margin-left: 16px;
}
.image-group {
    margin-right: 8px;
}
